<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<%= link_to "BLOG", root_path, class: "navbar-brand", id: "logo" %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" 
		data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Articles
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<%= link_to "View articles", articles_path, class: "dropdown-item"  %>
					<%= link_to "Create new article", new_article_path, class: "dropdown-item"  %>
				</div>
			</li>
		</ul>
	</div>
</nav>
